<table class="table table-inverse">
  <thead>
    <tr>
      <th scope="col">Events</th>
      <th scope="col" class="center">Price</th>
      <th scope="col" class="center">Number of items</th>
      <!-- <th scope="col">Date</th> -->
      <th scope="col" class="center">Index</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of localData
          | searchFilterEvents: selectedEventFilter
          | searchFilterAttribute: selectedAttributeFilter
      "
    >
      <td>{{ item.events }}</td>
      <td class="center">{{ item.price }}</td>
      <td class="center">{{ item.numberOfItems }}</td>
      <!-- <td>{{ item.timestamp | date: "medium" }}</td> -->
      <td class="center">{{ item.id }}</td>
    </tr>
  </tbody>
</table>

<ng-select
  class="sameWidth"
  placeholder="Filter events"
  [items]="localData"
  bindLabel="events"
  bindValue="id"
  [searchable]="true"
  (change)="onSelectedEvent($event?.id)"
>
</ng-select>

<ng-container #container></ng-container>

<button class="btn btn-primary sameWidth" (click)="onMultipleFilter()">
  Filter
</button>
